<div ng-controller="CamelCatalogProperties.Controller">

  <div ng-show="initDone">

    <h3>
      <img src="{{componentIcon}}" width="48" height="48" ng-show="icon"/> {{componentTitle}}
      <span style="margin-left: 10px" ng-repeat="label in componentLabels track by $index" class="pod-label badge"
            title="{{label}}">{{label}}</span>
    </h3>

    <div class="row-fluid">
      <div class="pull-right">
        <hawtio-filter ng-model="componentGridOptions.filterOptions.filterText"
                       placeholder="Filter..."></hawtio-filter>
      </div>
    </div>

    <h2>Component options:</h2>

    <div ng-show="componentGridOptions.data.length > 0">
      <div class="row-fluid">
        <table class="table table-condensed table-striped" hawtio-simple-table="componentGridOptions"></table>
      </div>
    </div>

    <h2>Endpoint options:</h2>
    <div ng-show="endpointGridOptions.data.length > 0">
      <div class="row-fluid">
        <table class="table table-condensed table-striped" hawtio-simple-table="endpointGridOptions"></table>
      </div>
    </div>

  </div>

  <div ng-hide="initDone">
    <i class="icon-spinner icon-spin centered"></i>
  </div>

</div>